[Unit]
Description=Run ARE Fail2Ban FOUND Sensor every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=are-fail2ban-found.service

[Install]
WantedBy=timers.target
