[Unit]
Description=ARE Fail2Ban FOUND Sensor
After=fail2ban.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/are-fail2ban-sensor --execute
User=root
Group=root
