[Unit]
Description=ARE Fail2Ban Decay (Dry Run y Apply)
After=fail2ban.service

[Service]
Type=oneshot
ExecStart=/opt/are/are.sh decay-dry-run
ExecStart=/opt/are/are.sh decay-apply
User=root
Group=root
